body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  
  #calculator {
    max-width: 500px;
    background-size: cover;
    background-color: rgba(96, 215, 236, 0.9);
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2{
    margin-bottom: 20px;
    font-weight: 600;
    color: black;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
  }